{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "react-app",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "jsx-a11y"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}